{% extends '_templates/base.njk' %}
{% set relative_path = "../" %}
{% from '_macros/prose.njk' import prose %}

{% block page_title %}{{ name }}{% endblock %}

{% block page_description %}{{ name }} by Josh Whalen {% endblock %}

{% block content %}
<article class="container">
  <h1 class="heading">{{name}}</h1>
  <div class="landmark-main-photo">
    <img src="../img/landmarks/{{ slug }}.jpg" alt="{{ name }}" class="img-fluid">
  </div>
  <div class="row">
    <div class="description col-md-7 col-lg-8">
      {{ description | safe }}
      <hr class="d-sm-none">
    </div>
    <div class="card col-md-4" style="width: 18rem;" id="landmark-card">
      <img src="../img/landmarks/{{slug}}-bw.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{name}} Fact Sheet</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{established}}</li>
        <li class="list-group-item">Located at {{location}}</li>
        <li class="list-group-item">Activities: {{activities}}</li>
      </ul>
      <div class="card-body">
        <a href="{{url}}" class="card-link">{{name}} Website</a>
      </div>
    </div>
  </div>
</article>
{% endblock %}