{% extends '_templates/base.njk' %}

{% block page_title %}Welcome to Austin{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
<div class="container">
  <h1>Explore Everything the State Capital Has to Offer</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in facilisis velit, aliquam congue dui. Mauris id mi quam. Nam enim leo, bibendum vel efficitur id, elementum malesuada est. Pellentesque interdum tempus eros nec iaculis. Quisque ac est dictum, vehicula nulla quis, condimentum dui.</p>
</div>
<div class="row">
  <h2>Famous Landmarks</h2>
  {% for landmarks in landmarks.landmarks %}
  <div class="col-sm-12 col-md-6 col-lg-4">
    <h4><a href="landmark/{{ landmarks.slug }}.html" target= "_blank">{{ landmarks.name }}</a></h4>
    <img src="img/landmarks/{{ landmarks.slug }}.jpg" alt="{{ landmarks.name }}" class="img-fluid">
  </div>
  {% endfor %} 
</div>
 

{% endblock %}