#jumbotron {
  background: url(../img/cmc-austin-dawn-20200614.jpg)no-repeat center;
  background-size: cover;
  color: white;
  padding: auto;
  margin-bottom: 30px;
  font-family: 'DM Serif Display', serif;
  
}
